default_language_version:
  python: python3.12
exclude: |
  (?x)(
    CHANGELOG.md|
    canvas_sdk/value_set/v2022/|
    canvas_sdk/value_set/v2026/|
    canvas_cli/templates/
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude_types:
          - svg
        exclude: &generated canvas_generated/|plugin_runner/allowed-module-imports.json
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude_types:
          - svg
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude_types:
          - batch
      - id: fix-byte-order-marker

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place, --all]
        exclude: |
          (?x)(
            uv.lock
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        # Indent only HTML files in template directories
        files: .*/templates/.*\.html$
        args: ["--tabwidth=2"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["-x", "-e", "SC1091"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: |
          (?x)(
            tests/(.*/)?(factories|fixtures)|
            tests/(.*/)?(utils|shared)\.py|
            tests/.*/snapshots/.*\.py|
            tests/.*/_.*\.py
          )
      - id: debug-statements
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'uv sync && exec ./bin/mypy "$@"' --
        language: system
        types: [python]
        exclude: |
          (?x)(
              canvas_generated/|
              canvas_cli/templates/
          )

  - repo: local
    hooks:
      - id: check-protobufs-definitions
        name: Check Protobufs Definitions
        entry: uv run ./bin/generate-protobufs
        language: system
        pass_filenames: false

      - id: update-allowed-imports
        name: Update allowed imports
        entry: uv run python -m plugin_runner.generate_allowed_imports
        language: system
        pass_filenames: false
