INTEGRATION_TEST_URL=https://plugin-testing.canvasmedical.com
INTEGRATION_TEST_CLIENT_ID=
INTEGRATION_TEST_CLIENT_SECRET=

PLUGIN_RUNNER_DAL_TARGET=localhost:50052

DAL_GRAPHQL_ENDPOINT=http://localhost:8000/graphql
DAL_GRAPHQL_AUTH_KEY=abc123
