# shellcheck disable=SC2034

CUSTOMER_IDENTIFIER=local

INTEGRATION_TEST_URL=https://plugin-testing.canvasmedical.com
INTEGRATION_TEST_CLIENT_ID=
INTEGRATION_TEST_CLIENT_SECRET=

GRAPHQL_ENDPOINT=http://localhost:8000/plugins-graphql

# Plugin Runner signing key, e.g. output of `head -c 256 /dev/urandom | sha256sum | head -c 64`
PLUGIN_RUNNER_SIGNING_KEY=1494f105234b0019b8cc82e3e7c7b7a9c009664ff1aaefd4bf3ce99394c038c9

CANVAS_SDK_DB_NAME=home-app
CANVAS_SDK_DB_USERNAME=app
CANVAS_SDK_DB_PASSWORD=app
CANVAS_SDK_DB_HOST=home-app-db
CANVAS_SDK_DB_PORT=5432

DATABASE_URL="postgresql://home:home@localhost:5435/home-app"

REDIS_ENDPOINT="redis://localhost:6379"
