<!DOCTYPE html>

<html>
    <head>
        <title>Logged in as {{logged_in_staff.first_name}} {{logged_in_staff.last_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            }
        </style>
        <script>
            window.addEventListener("load", () => {{
                document.getElementById("create-task").addEventListener("click",
                    function() {
                        console.log('clicked!');
                        fetch('/plugin-io/api/plugins_smoke_test/add-task', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          }
                        });
                    },
                    false
                );
            }});
        </script>                         
    </head>

    <body>
        <h1>Smoke Test</h1>
        <h2>Scope: Global</h2>
        <h3>You are logged in as: {{logged_in_staff.first_name}} {{logged_in_staff.last_name}}</h3>
        <p>
            If you see this, you know the following generally works:
            <ul>
                <li>Events are emitted to the plugin runner</li>
                <li>Plugins are executing (the plugin runner is running)</li>
                <li>Effects are being returned</li>
                <li>The plugin runner is able to access the database via the data module</li>
            </ul>
        </p>
        <div>
            <p>
                Click the button to create a task.
                <button id="create-task">+ Task</button>
            </p>
        </div>
    </body>
</html>
