<!DOCTYPE html>

<html>
    <head>
        <title>Logged in as {{logged_in_staff.first_name}} {{logged_in_staff.last_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            }
        </style>
        <script>
            window.addEventListener("load", () => {{
                document.getElementById("create-task").addEventListener("click",
                    function() {
                        console.log('clicked!');
                        fetch('/plugin-io/api/example_chart_app/add-task', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          },
                          body: JSON.stringify({ patient_id: "{{patient_id}}" })
                        });
                    },
                    false
                );
            }});
        </script>                         
    </head>

    <body>
        <h1>Custom Chart UI</h1>
        <h2>You are logged in as: {{logged_in_staff.first_name}} {{logged_in_staff.last_name}}</h2>
        <div>
            <p>
                Click the button to create a task. Watch as the task count badge increases above!
                <button id="create-task">+ Task</button>
            </p>
        </div>
    </body>
</html>
