name: Build and Test

on:
  pull_request:
    branches: ["main"]
  workflow_call:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [3.11, 3.12 ]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install-python-and-uv
        with:
          PYTHON_VERSION: ${{ matrix.version }}
      - uses: ./.github/actions/install-canvas

      # Run Pytest unit tests via uv.
      - name: Run Pytest unit tests
        env:
          CUSTOMER_IDENTIFIER: "ci-unit-tests"
          INTEGRATION_TEST_URL: "https://api-test-clinic.canvasmedical.com"
          INTEGRATION_TEST_CLIENT_ID: ${{ secrets.INTEGRATION_TEST_CLIENT_ID }}
          INTEGRATION_TEST_CLIENT_SECRET: ${{ secrets.INTEGRATION_TEST_CLIENT_SECRET }}
        run: |
          uv run \
            pytest \
              -m "not integtest" \
              --ff \
              --verbosity 2 \
              --cov \
              --cov-branch \
              --cov-report=xml

      - name: Run Pytest unit tests for the example plugins
        env:
          CUSTOMER_IDENTIFIER: "ci-unit-tests"
        run: |
          cd example-plugins
          uv sync
          uv run \
            pytest \
              --ff \
              --verbosity 2 \
              --cov=. \
              --cov-branch \
              --cov-report=xml:../coverage.xml \
              --cov-append

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Install pipx
        run: pip install pipx
        shell: bash

      - name: Test the distribution
        env:
          CUSTOMER_IDENTIFIER: "ci-distribution"
        run: |
          uv build
          pipx install dist/*.whl
          canvas --version
          rm -rf dist/
        shell: bash

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch Integration Tests
        uses: canvas-medical/return-dispatch@v2
        id: dispatch
        with:
          token: ${{ secrets.CANVAS_REMOTE_WORKFLOW_DISPATCH_TOKEN }}
          ref: refs/heads/develop
          repo: canvas
          owner: canvas-medical
          workflow: test-canvas-plugins.yml
          workflow_inputs: '{ "commit-sha": "${{ github.sha }}" }'
      - name: Wait for Integration Tests to complete
        uses: canvas-medical/await-remote-run@main
        with:
          token: ${{ secrets.CANVAS_REMOTE_WORKFLOW_DISPATCH_TOKEN }}
          repo: canvas
          owner: canvas-medical
          run_id: ${{ steps.dispatch.outputs.run_id }}
          run_timeout_seconds: 900
          poll_interval_ms: 30000
