name: Pre-commit auto-update
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  pre-commit-auto-update:
    if: github.repository_owner == 'canvas-medical'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PROJECT_AND_REPO_PAT }}
          branch: chore/pre-commit-auto-update
          title: "chore: auto-update pre-commit hooks"
          commit-message: "auto-update pre-commit hooks"
          body: |
            Update pre-commit hooks to latest version
