name: Pre-commit

on:
  merge_group:
  pull_request:
    branches:
      - "**"

jobs:
  pre-commit:
    name: Enforce Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine head and base sha
        id: set-sha
        uses: ./.github/actions/set-sha

      - uses: ./.github/actions/install-python-and-uv
      - uses: ./.github/actions/install-canvas

      - name: Run the pre-commit hooks
        env:
          CUSTOMER_IDENTIFIER: "ci-pre-commit"
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: >-
            --all-files
            --source ${{ steps.set-sha.outputs.base-sha }}
            --origin ${{ steps.set-sha.outputs.head-sha }}
            --show-diff-on-failure
            --color=always
