name: Semantic Release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: false
        default: 'false'
        type: boolean

permissions:
  id-token: write

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit

  release:
    runs-on: ubuntu-latest
    concurrency: release
    needs:
      - build-and-test
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.PROJECT_AND_REPO_PAT }}
      - uses: ./.github/actions/install-python-and-uv
      - uses: ./.github/actions/install-canvas

      - name: Python Semantic Release
        id: release
        env:
          GH_TOKEN: ${{ secrets.PROJECT_AND_REPO_PAT }}
          GIT_COMMITTER_NAME: ${{ vars.RELEASE_COMMITTER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.RELEASE_COMMITTER_EMAIL }}
        run: |
          git config --global user.name "$GIT_COMMITTER_NAME"
          git config --global user.email "$GIT_COMMITTER_EMAIL"
          uv run semantic-release --strict -vv $([ "${{ inputs.dry-run }}" == "true" ] && echo "--noop") version

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ !inputs.dry-run }}

      - name: Publish package distributions to GitHub Releases
        env:
          GH_TOKEN: ${{ secrets.PROJECT_AND_REPO_PAT }}
        run: |
          uv run semantic-release --strict -vv $([ "${{ inputs.dry-run }}" == "true" ] && echo "--noop") publish --tag ${{ steps.release.outputs.tag }}
